* {
  margin: 0;
  padding: 0;
}
nav {
  width: 100vw;
  min-height: 52px;
}

nav ul {
  display: flex;
  list-style: none;
  background-color: gray;
  width: 100vw;
}
nav ul li {
  margin: 15px;
}
nav ul li a {
  display: block;
  color: white;
  text-decoration-line: none;
}
#profile_menu:hover,
#detail-cont:hover {
  background-color: darkgray;
  letter-spacing: 4px;
  transition: all 1s;
}
