main {
  width: 100%;
  min-height: 1500px;
}

#Home {
  box-sizing: border-box;
  width: 100%;
  min-height: 500px;
  padding: 40px 30px 40px 30px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-bottom: 1px var(--border-color) solid;
}

.Home {
  width: 50%;
}
.Home:nth-child(1) {
  height: 437px;
  border-radius: 10px;
  overflow: hidden;
}
.Home img {
  width: 100%;
}
#profile-img {
  width: 100%;
  height: 437px;
  border-radius: 10px;
}
#profile-img:hover {
  transform: scale(1.2);
  transition: all 2s;
}
.Home:nth-child(2) {
  padding-left: 50px;
  text-align: start;
}
#korName {
  font-size: 100px;
  font-weight: bold;
}
#enName {
  font-size: 40px;
  line-height: 60px;
}
#birth,
#location,
#email {
  font-size: 20px;
  line-height: 40px;
}
.birth,
.location,
.email {
  display: flex;
  width: 100%;
  height: 40px;
}
#birth-img,
#location-img,
#email-img {
  width: 25px;
  margin-right: 5px;
}
.icons {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
.icons a {
  display: block;
  margin: 5px 5px 0 2px;
  height: 20px;
}
#instagram,
#github {
  width: 20px;
}
#velog {
  width: 23px;
  border-radius: 50%;
}
#About {
  box-sizing: border-box;
  width: 100%;
  min-height: 400px;
  padding: 30px 30px 30px 30px;
  border-bottom: 1px solid var(--border-color);
}
.education {
  font-size: 35px;
  line-height: 50px;
}
.education.ul {
  width: 100%;
  height: 110px;
  margin-top: 20px;
}
.license {
  font-size: 35px;
  line-height: 50px;
  margin-top: 20px;
}
.license.ul {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.education.ul li,
.license.ul li {
  font-size: 20px;
  line-height: 35px;
}
#skills {
  box-sizing: border-box;
  width: 100%;
  min-height: 400px;
  padding: 30px 30px 30px 30px;
  border-bottom: 1px solid var(--border-color);
}

#skills h2 {
  font-size: 35px;
  line-height: 50px;
}
.skills-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 155px;
  margin-top: 25px;
  row-gap: 15px;
}
#htmlImg,
#cssImg,
#jsImg,
#javaImg {
  width: 70px;
  height: 70px;
}
.grid-item {
  display: flex;
  align-items: center;
  position: relative;
}

/* div 겹치기 위해 position:relative, position:absolute 사용*/
.grid-item__html,
.grid-item__css,
.grid-item__js,
.grid-item__java {
  width: 350px;
  height: 35px;
  border-radius: 20px;
  border-right: 1px solid var(--border-color);
  background-color: antiquewhite;
  position: relative;
  left: 15px;
}
.grid-item__html > div {
  box-sizing: border-box;
  width: 220px;
  min-height: 35px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  position: absolute;
  background-color: var(--main-color);
}
.grid-item__css > div {
  box-sizing: border-box;
  width: 175px;
  height: 35px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  position: absolute;
  background-color: var(--main-color);
}
.grid-item__js > div {
  box-sizing: border-box;
  width: 105px;
  height: 35px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  position: absolute;
  background-color: var(--main-color);
}
.grid-item__java > div {
  box-sizing: border-box;
  width: 105px;
  height: 35px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  position: absolute;
  background-color: var(--main-color);
}
