@import "header.css";
@import "main.css";
:root {
  --border-color: #d3d7d9;
  --main-color: #57d3f7;
}
* {
  margin: 0;
}
#container {
  box-sizing: border-box;
  width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}
