* {
  margin: 0;
  padding: 0;
}
nav {
  width: 100vw;
  min-height: 52px;
}
nav ul {
  display: flex;
  list-style: none;
  background-color: #808080;
}
nav ul li {
  padding: 15px;
}
nav ul li a {
  display: block;
  color: white;
  text-decoration-line: none;
}
